{
  "runsc": "{{ hosted_runsc_binary }}",
  "rootfs": "{{ hosted_rootfs_dir }}",
  "state_root": "{{ hosted_runsc_state_dir }}",
  "bundle_root": "{{ hosted_bundle_dir }}",
  "staging_root": "{{ hosted_runsc_staging_dir }}",
  "worker_uid": {{ hosted_worker_uid }},
  "worker_gid": {{ hosted_worker_gid }}
}
